@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --background-color-header: #FAFAFA;
    --background-color-card: #F3F2F2;
    --color-title: #272221;
    --color-title-name: #403937;
    --color-text: #574F4D;
    --color-text-name: #8D8686;
    --background-color-shop-cl: #4B2995;
    --background-color-shop-bg: #EBE5F9;
    --background-color-coffee-quality: #F1E9C9;
    --color-coffee-quality: #C47F17;
    --box-shadow: 0 4px 1px rgba(0, 0, 0, 0.372);

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Baloo 2", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color: var(--background-color-header);
    z-index: 1000;          
    backdrop-filter: blur(10px); 
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__items {
    display: flex;
    gap: 35px;
}

.nav__loctaion {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--background-color-shop-bg);
    color: var(--background-color-shop-cl);
    padding: 8px;
    border-radius: 6px;

    &:hover {
        box-shadow: var(--box-shadow);
    }
}

.nav__order {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--background-color-coffee-quality);
    padding: 8px;
    border-radius: 6px;

    &:hover {
        box-shadow: var(--box-shadow);
    }
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    padding: 8px;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
}

.nav__links::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--background-color-shop-cl);
    transition: all 0.3s ease;
     color: #272221;
}

.nav__links:hover::after {
    width: 100%;
    left: 0;
    color: #272221;
}
.main{
    padding: 100px 0;
}
.hero{
    padding: 50px 0;
}
.hero__conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__title{
    font-family: Baloo 2;
font-weight: 800;
font-style: ExtraBold;
font-size: 48px;
line-height: 130%;
letter-spacing: 0%;
color: var(--color-title);
max-width: 588px;
margin-bottom: 25px;
}
.hero__text{
        font-family: Roboto;
font-weight: 400;
font-style: ExtraBold;
font-size: 20px;
line-height: 130%;
letter-spacing: 0%;
color: var(--color-text-name);
max-width: 588px;
margin-bottom: 25px;
}
.hero__abs{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
}
.hero__items{
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero__images{
    position: relative;
}
.hero__images img {
    position: absolute;
}
.hero__coffee{
    top: 0;
    right: 0;
}
.hero__right-1{
    top: 50px;
    right: -90px;
}
.hero__right-2{
    top: 50px;
    right: -91px;
}
.hero__left{
    top: 60px;
    right: 80px;
}
.hero__shape{
    width: 380px;
    height: 380px;
    z-index: -2;
    left: -450px;
    background-color: #f9e31ad6;
    width: 450px;
    height: 450px;
   border-radius: 50%;
   box-shadow:0 4px 25px rgba(14, 13, 13, 0.236);
}

.menu__title{
    font-family: Baloo 2;
font-weight: 800;
font-style: ExtraBold;
font-size: 32px;
line-height: 130%;
letter-spacing: 0%;
vertical-align: middle;
color: var(--color-title-name);
}
.menu__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    position: relative;
}
.menu__items{
    margin-top: 80px;
    width: 326px;
    height: 310px;
    border-top-left-radius: 6px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 35px;
    background-color: var(--background-color-card);
    position: relative;
    flex-direction: column;
    display: flex;               
    align-items: center;        
    padding-top: 70px;
    box-shadow: var(--box-shadow);
}
.menu__cofee{
    position: absolute;
    top: -55px;
    left: 65px;
    right: 0;
}
.coffee__name,
.coffee__story,
.coffee__quality {
    text-align: center;
    margin-top: 15px;
}
.menu__span{
    display: flex;
    gap: 5px;
}
.coffee__quality{
border-radius: 100px;
padding: 4px 8px;
color: var(--color-coffee-quality);
background-color: var(--background-color-coffee-quality);

}
.coffee__name{
    font-family: Baloo 2;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 130%;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
color: var(--color-title-name);
}
.coffee__story{
    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 130%;
letter-spacing: 0%;
text-align: center;
color: var(--color-text-name);
}
.amout span{
    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 130%;
letter-spacing: 0%;
text-align: right;
color: #574F4D;
}
.amout{
    font-family: Baloo 2;
font-weight: 800;
font-style: ExtraBold;
font-size: 24px;
line-height: 130%;
letter-spacing: 0%;
text-align: right;
color: #574F4D;
}
.count {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--background-color-input);
    padding: 8px 12px;
    border-radius: 6px;
}

.count{
    display: flex;
    gap: 15px;
    background-color: #E6E5E5;
}
.count button{
    background: none;
    border: none;
    font-size: 18px;
    color: var(--color-title-name);
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    gap: 15px;
}
.count button:hover {
    color: var(--color-button-hover);
}


.buy {
    background: var(--background-color-shop-cl);
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy:hover {
    background: var(--yellow-dark);
}
.coffee__counter {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    padding: 0 20px;
}

@media (max-width:700px){
    .hero__conatiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    position: relative;
}
.menu__cofee{
    position: absolute;
    top: -55px;
    left: 95px;
    right: 0;
}
.hero__title{
text-align: center;
}
.hero__text{
text-align: center;
}
.menu__title{
text-align: center;
}
}